@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:300,400,600,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  font-size: 16px; }

h1 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 3rem;
  padding: 0;
  max-width: 879px;
  word-spacing: 2;
  line-height: 4.68rem; }

h2 {
  font-family: "Open Sans", sans-serif;
  color: #7f7f7f;
  font-size: 3rem;
  font-weight: 700; }

h3 {
  display: inline-block;
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  text-align: left;
  margin-bottom: 36px; }

h4 {
  font-family: "Open Sans", sans-serif;
  color: #ff64c2;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold; }

h5 {
  font-family: "Open Sans", sans-serif;
  color: #7f7f7f;
  font-size: 18px;
  line-height: 25px;
  margin: 2rem 0; }

.author-name {
  font-family: "Open Sans", sans-serif;
  color: #7f7f7f;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold; }

p {
  font-family: "Open Sans", sans-serif;
  color: #7f7f7f;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px; }

a {
  font-size: .875rem;
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

button, .btn {
  font-size: .875rem;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center; }

.navbar-brand {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  color: #7f7f7f;
  text-transform: uppercase; }

.navbar-brand i {
  color: #ff64c2; }

.nav-button {
  border: none;
  width: 159px;
  height: 52px;
  border-radius: 26px;
  background-color: #ff64c2;
  color: white;
  text-align: center; }

.navbar-toggler {
  border: 0;
  display: inline-block; }

nav {
  height: 100px;
  max-width: 1150px; }

.navbar li {
  padding-left: 1.75rem;
  padding-right: 1.75rem; }

.header-row {
  background-color: #fafafa; }

.navbar-toggler {
  color: #7f7f7f; }

main {
  width: 100%;
  padding: 0;
  margin: 0; }

.bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.72)), to(rgba(55, 55, 55, 0.72))), url("../Assets/img/daniel-von-appen-258076Normal.png");
  background-image: -webkit-linear-gradient(rgba(55, 55, 55, 0.72), rgba(55, 55, 55, 0.72)), url("../Assets/img/daniel-von-appen-258076Normal.png");
  background-image: -o-linear-gradient(rgba(55, 55, 55, 0.72), rgba(55, 55, 55, 0.72)), url("../Assets/img/daniel-von-appen-258076Normal.png");
  background-image: linear-gradient(rgba(55, 55, 55, 0.72), rgba(55, 55, 55, 0.72)), url("../Assets/img/daniel-von-appen-258076Normal.png");
  height: calc(100vh - 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.cover-item {
  padding: 0; }

.search-bar {
  border-bottom-left-radius: 35px;
  border-top-left-radius: 35px;
  height: 70px;
  border: 0;
  padding: 0;
  display: inline-block;
  width: 100%; }

.search-btn {
  display: inline-block;
  width: 140px;
  height: 70px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border: none;
  background-color: #ff64c2;
  color: white;
  text-align: center;
  vertical-align: top; }

.search-container {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 80%;
  max-width: 736px;
  margin: 30px; }

.cover-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 80px 0;
  -ms-flex-item-align: end;
  align-self: flex-end;
  max-width: 235px; }

.cover-container {
  margin-top: 180px; }

.benefits-paragraph {
  padding: 20px; }

.benefits-top {
  margin-top: 145px;
  margin-bottom: 65px; }

.benefits-bottom {
  margin-bottom: 145px;
  margin-top: 65px; }

.accent-row {
  background-color: #ff64c2; }

.accent-column {
  background-color: #fff;
  margin: 150px 0;
  padding: 36px 30px 36px 36px; }

.shp0 {
  fill: #ffffff; }

svg {
  fill: #f7f; }

tspan {
  white-space: pre; }

div {
  border: 0px solid grey; }

.happy_guy {
  padding: 0;
  margin: 7rem; }

.small_text {
  margin-top: 1rem;
  width: 75%; }

.denounce {
  padding-left: 50px; }

.feedback {
  background-color: #f8f8f8;
  padding: 7rem 0; }
  .feedback .Clients {
    text-align: center;
    margin-bottom: 4rem; }
  .feedback .feedback-author .author-name {
    margin: 15px 0;
    text-align: center;
    display: inline-block; }
  .feedback .feedback-author p {
    line-height: 19px;
    text-align: center; }

.vectors {
  position: relative;
  height: 220px;
  width: 379px; }
  .vectors .feedback-comment {
    position: absolute;
    width: 350px;
    z-index: 2;
    top: 84px;
    left: 22px; }
  .vectors svg {
    position: absolute;
    left: 0;
    z-index: 1;
    top: 35px; }
  .vectors img {
    top: 10px;
    border-radius: 50%;
    position: absolute;
    width: 76px;
    left: 190px;
    z-index: 2;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); }

.card {
  border-radius: 10px;
  width: 360px;
  margin: 30px; }

.box {
  background-color: #f7f;
  margin: 10px; }

.card-img-top {
  height: 367px;
  -o-object-fit: cover;
  object-fit: cover; }

.slick-arrow {
  background-color: #f7f;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  -ms-flex-item-align: center;
  align-self: center;
  border: 0;
  outline: none; }

.cover-btn {
  width: 65px;
  height: 65px;
  background-color: #fff;
  display: inline-block; }

.icon {
  width: 56px;
  height: 56px;
  display: inline-block; }

.i-money {
  background-image: url("../Assets/img/i-money.png");
  background-repeat: no-repeat;
  width: 56px;
  height: 56px; }

.i-hands {
  background-image: url("../Assets/img/i-hands.png");
  background-repeat: no-repeat;
  width: 56px;
  height: 56px; }
