@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:300,400,600,700");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after, blockquote:before {
  content: '';
  content: none; }

q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
html {
  font-size: 16px; }

h1 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 3rem;
  padding: 0;
  max-width: 879px;
  word-spacing: 2;
  line-height: 4.68rem; }

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 2rem;
    line-height: 3rem; } }

h2 {
  font-family: "Open Sans", sans-serif;
  color: #7f7f7f;
  font-size: 3rem;
  font-weight: 700; }

h3 {
  display: inline-block;
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  text-align: left;
  margin-bottom: 36px; }

h4 {
  font-family: "Open Sans", sans-serif;
  color: #ff64c2;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold; }

h5 {
  font-family: "Open Sans", sans-serif;
  color: #7f7f7f;
  font-size: 18px;
  line-height: 25px;
  margin: 2rem 0; }

.author-name {
  font-family: "Open Sans", sans-serif;
  color: #7f7f7f;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold; }

li,
p {
  font-family: "Open Sans", sans-serif;
  color: #7f7f7f;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px; }

li {
  list-style-type: square; }

a {
  font-size: 0.875rem;
  color: #7f7f7f;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

.btn,
button {
  font-size: 0.875rem;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  text-align: center; }

.footer {
  position: relative; }

footer {
  background-color: #FBFBFB;
  z-index: 0; }
  footer .footer-container a {
    font-family: "Open Sans", sans-serif;
    color: #7f7f7f;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px; }
  footer .footer-info {
    position: relative;
    z-index: 2;
    padding-top: 100px;
    padding-bottom: 80px; }
    footer .footer-info h5 {
      margin-top: 0; }
  footer .social {
    position: relative;
    z-index: 2; }
    footer .social h3 {
      margin-right: 20px; }
    footer .social i {
      font-size: 24px;
      margin: 0 5px;
      color: #7f7f7f; }
  footer .copyrights {
    z-index: 2;
    position: relative;
    text-align: center;
    padding-bottom: 3rem; }
  footer .shp {
    z-index: 1; }

.footer-container {
  max-width: 1200px;
  padding-left: 142px; }

@-webkit-keyframes scaleOnHover {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); } }

@keyframes scaleOnHover {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); } }

.navbar-brand {
  color: #7f7f7f;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.25rem;
  font-weight: 400; }
  .navbar-brand i {
    color: #ff64c2; }

@media only screen and (max-width: 1200px) {
  .nav-item {
    padding: 10px;
    text-align: center; }
    .nav-item .navbar-toggler {
      font-size: 2rem; } }

@media only screen and (min-width: 1200px) {
  .navbar-nav {
    position: relative;
    left: 75px; } }

.nav-button {
  width: 159px;
  height: 52px;
  color: white;
  border: none;
  border-radius: 26px;
  background-color: #ff64c2;
  text-align: center; }

.navbar-toggler {
  display: inline-block;
  border: 0; }

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.navbar-collapse.collapse.show {
  position: relative;
  top: 35px;
  background-color: #fafafa; }

nav {
  z-index: 10;
  position: relative;
  max-width: 1150px;
  height: 100px; }

.navbar li {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  list-style: none; }

.header-row {
  background-color: #fafafa; }

.navbar-toggler {
  color: #7f7f7f; }

.bg {
  height: calc(100vh - 100px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.72)), to(rgba(55, 55, 55, 0.72))), url("../Assets/img/daniel-von-appen-258076Normal.png");
  background-image: -webkit-linear-gradient(rgba(55, 55, 55, 0.72), rgba(55, 55, 55, 0.72)), url("../Assets/img/daniel-von-appen-258076Normal.png");
  background-image: -o-linear-gradient(rgba(55, 55, 55, 0.72), rgba(55, 55, 55, 0.72)), url("../Assets/img/daniel-von-appen-258076Normal.png");
  background-image: linear-gradient(rgba(55, 55, 55, 0.72), rgba(55, 55, 55, 0.72)), url("../Assets/img/daniel-von-appen-258076Normal.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.cover-item {
  padding: 0; }

.search-bar {
  display: inline-block;
  width: 100%;
  height: 70px;
  padding: 0;
  border: 0;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px; }
  .search-bar::-webkit-input-placeholder {
    padding-left: 2rem;
    color: #7f7f7f;
    text-align: left;
    font-family: "Open Sans", sans-serif; }
  .search-bar:-ms-input-placeholder {
    padding-left: 2rem;
    color: #7f7f7f;
    text-align: left;
    font-family: "Open Sans", sans-serif; }
  .search-bar::-ms-input-placeholder {
    padding-left: 2rem;
    color: #7f7f7f;
    text-align: left;
    font-family: "Open Sans", sans-serif; }
  .search-bar::placeholder {
    padding-left: 2rem;
    color: #7f7f7f;
    text-align: left;
    font-family: "Open Sans", sans-serif; }

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 736px;
  height: 70px;
  padding-top: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.cover-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 235px;
  margin-bottom: 80px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.cover-container {
  margin-top: 180px; }

.benefits-paragraph {
  padding: 20px 0; }

.benefits-top {
  padding-top: 145px; }
  .benefits-top h2 {
    padding-bottom: 35px; }

.benefits-bottom {
  padding-bottom: 150px; }

.accent-row {
  padding: 150px 0;
  background-color: #ff64c2; }

.accent-column {
  max-width: 540px;
  padding: 36px 30px 36px 36px;
  background-color: #fff; }

.shp0 {
  fill: #ffffff; }

svg {
  fill: #f7f; }

.happy_guy {
  z-index: 10;
  position: relative;
  margin: 7rem 0;
  padding: 0; }

.benefits-bottom {
  padding-top: 5rem; }
  .benefits-bottom i {
    padding: 15px;
    color: #ff64c2;
    font-size: 4rem; }

.small_text {
  width: 75%;
  margin-top: 1rem; }

.denounce {
  z-index: 20;
  position: relative;
  padding-left: 50px; }
  .denounce li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0;
    list-style: none; }
    .denounce li i {
      position: relative;
      margin-right: 15px;
      color: #ff64c2;
      font-size: 32px; }
    .denounce li h5 {
      display: inline-block;
      margin: 0;
      line-height: 32px; }

.feedback {
  padding: 7rem 0;
  background-color: #f8f8f8; }
  .feedback .Clients {
    margin-bottom: 4rem;
    text-align: center; }
  .feedback .feedback-author .author-name {
    display: inline-block;
    margin: 15px 0;
    text-align: center; }
  .feedback .feedback-author p {
    text-align: center;
    line-height: 19px; }

.client-container {
  max-width: 1250px; }

.vectors {
  position: relative;
  width: 379px;
  height: 220px; }
  .vectors .feedback-comment {
    z-index: 2;
    position: absolute;
    top: 84px;
    left: 22px;
    width: 350px; }
  .vectors svg {
    z-index: 1;
    position: absolute;
    top: 35px;
    left: 0; }
  .vectors img {
    z-index: 2;
    position: absolute;
    top: 5px;
    left: 190px;
    width: 76px;
    border-radius: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); }

.blog {
  padding: 90px 0 110px; }
  .blog h2 {
    display: inline-block;
    padding-bottom: 90px;
    text-align: center; }
  .blog h4 {
    color: #7f7f7f; }

.i-email {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .i-email i {
    color: #ff64c2;
    font-size: 24px; }

.email-bar {
  display: inline-block;
  width: 100%;
  height: 70px;
  padding: 0;
  border: 0; }
  .email-bar::-webkit-input-placeholder {
    padding-left: 10px;
    text-align: left; }
  .email-bar:-ms-input-placeholder {
    padding-left: 10px;
    text-align: left; }
  .email-bar::-ms-input-placeholder {
    padding-left: 10px;
    text-align: left; }
  .email-bar::placeholder {
    padding-left: 10px;
    text-align: left; }

.email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 736px;
  height: 70px;
  margin: 30px;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.subscription {
  background-color: #ff64c2; }
  .subscription span {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: white;
    -ms-flex-item-align: center;
    align-self: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px; }

.blog-containers {
  max-width: 1600px;
  -ms-flex-item-align: center;
  align-self: center; }
  .blog-containers a:not(.read-more) {
    font-family: "Open Sans", sans-serif;
    color: #7f7f7f;
    font-size: 20px;
    line-height: 27px;
    font-weight: bold; }

.blog-stats {
  width: 60%;
  padding: 0.5rem 0;
  color: #ff64c2; }
  .blog-stats .blog-stats-date {
    padding-right: 20px;
    color: #ff64c2; }
  .blog-stats .blog-stats-comments,
  .blog-stats .blog-stats-views {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .blog-stats .blog-stats-comments i,
    .blog-stats .blog-stats-views i {
      padding: 0 5px;
      -ms-flex-item-align: center;
      align-self: center; }

.read-more {
  padding-top: 0.5rem; }
  .read-more::after {
    content: "\f105";
    padding-left: 5px;
    vertical-align: baseline;
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    line-height: inherit;
    line-height: 20px; }
  .read-more:hover {
    text-decoration: none; }

@media only screen and (max-width: 576px) {
  .denounce ul {
    position: relative;
    right: 20px; } }

@media only screen and (max-width: 576px) {
  .feedback-author {
    padding-bottom: 2rem; } }

@media only screen and (max-width: 576px) {
  .client-container {
    position: relative;
    right: 7px; } }

@media only screen and (max-width: 576px) {
  .email-container {
    width: 100%; }
  .email-bar {
    height: 60px; }
    .email-bar::-webkit-input-placeholder {
      font-size: 0.875rem; }
    .email-bar:-ms-input-placeholder {
      font-size: 0.875rem; }
    .email-bar::-ms-input-placeholder {
      font-size: 0.875rem; }
    .email-bar::placeholder {
      font-size: 0.875rem; }
  .i-email {
    height: 60px; } }

@media only screen and (max-width: 736px) {
  .happy_guy img {
    width: 100%;
    margin: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; } }

@media only screen and (max-width: 576px) {
  .accent-column {
    padding: 36px 15px 15px; }
    .accent-column .icon {
      margin-right: 15px; }
    .accent-column h3 {
      margin-bottom: 10px; } }

@media only screen and (max-width: 576px) {
  .cover-container {
    margin-top: 80px; } }

@media only screen and (max-width: 576px) {
  .search-container {
    width: 100%; }
  .search-bar {
    height: 60px; }
    .search-bar::-webkit-input-placeholder {
      font-size: 0.875rem; }
    .search-bar:-ms-input-placeholder {
      font-size: 0.875rem; }
    .search-bar::-ms-input-placeholder {
      font-size: 0.875rem; }
    .search-bar::placeholder {
      font-size: 0.875rem; } }

@keyframes scaleOnHover {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  to {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); } }

.cover-btn {
  width: 69px;
  height: 69px;
  display: inline-block;
  padding: 0;
  border-radius: 50%; }

button:focus {
  outline: 0; }

.button-on-hover {
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  .button-on-hover:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.33);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.33); }

.search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 140px;
  height: 70px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: none;
  background-color: #ff64c2;
  color: white;
  text-align: center;
  vertical-align: top; }
  .search-btn i {
    padding-right: 0.5rem;
    font-size: 2rem; }

@media only screen and (max-width: 576px) {
  .search-btn {
    height: 60px; } }

.email-btn {
  display: inline-block;
  width: 150px;
  height: 70px;
  border-bottom-right-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: none;
  font-weight: 700;
  background-color: #7f7f7f;
  color: white;
  text-align: center;
  vertical-align: top; }

@media only screen and (max-width: 576px) {
  .email-btn {
    height: 60px; } }

.slick-arrow {
  background-color: #fff;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  -ms-flex-item-align: center;
  align-self: center;
  border: 0;
  outline: none; }

.icon {
  width: 64px;
  height: 100%;
  display: inline-block;
  padding: 0; }

.jobphotos {
  z-index: 1;
  position: relative;
  padding-bottom: 7rem;
  background-color: #ff64c2; }
  .jobphotos h2 {
    margin: 7rem;
    color: #fff; }
  .jobphotos i {
    color: #7f7f7f;
    line-height: 100%;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3); }
  .jobphotos button {
    z-index: 10;
    position: relative; }
  .jobphotos .card {
    width: 360px;
    margin: 20px;
    border: 0;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.33);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.33); }
    .jobphotos .card .card-img-top {
      height: 367px;
      border-radius: 9px 9px 0 0;
      -o-object-fit: cover;
      object-fit: cover; }
    .jobphotos .card .card-title {
      margin-top: 0.5rem;
      font-size: 1.5rem;
      font-weight: bold; }

.back {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: hidden; }

@media only screen and (min-width: 1600px) {
  .card {
    z-index: 5;
    position: relative;
    max-width: 360px; }
  .boxes {
    z-index: 5;
    position: relative;
    max-width: 1200px;
    padding: 0; }
  svg {
    z-index: 1;
    position: relative; } }

@media only screen and (max-width: 576px) {
  .jobphotos h2 {
    margin: 2rem; } }

body,
html {
  margin: 0;
  padding: 0; }

main {
  width: 100%;
  padding: 0;
  margin: 0; }

.row {
  margin: 0; }

input {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #7f7f7f;
  font-size: 1rem; }

div {
  border: 0 solid grey; }

.container-fluid {
  margin: 0;
  padding: 0; }
