@import 'animations';

.cover-btn{
    width: 69px;
    height: 69px;
    display: inline-block;
    padding: 0;
    border-radius: 50%;

}
button:focus {outline:0;}

.button-on-hover{
    transition: all .1s ease-in-out;
    &:hover{
        transform: scale(1.05);
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.33);
    }
}
