.icon {
    width: 56px;
    height: 56px;
    display: inline-block;
}

.i-money {
    background-image: url("../Assets/img/i-money.png");
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;

}

.i-hands {
    background-image: url("../Assets/img/i-hands.png");
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
}
