@import "variables";

.navbar-brand {
    color         : $accent_color1;
    text-transform: uppercase;
    font-family   : $brand_font;
    font-size     : 2.25rem;
    font-weight   : 400;

    i {
        color: $primary_color;
    }
}
@media only screen and (max-width : 1200px) {
    .nav-item {
        padding   : 10px;
        text-align: center;

        .navbar-toggler {
            font-size: 2rem;
        }
    }
}
@media only screen and (min-width : 1200px) {
    .navbar-nav {
        position: relative;
        left    : 75px;
    }
}

.nav-button {
    width           : 159px;
    height          : 52px;
    color           : white;
    border          : none;
    border-radius   : 26px;
    background-color: $primary_color;
    text-align      : center;
}

.navbar-toggler {
    display: inline-block;
    border : 0;
}

.navbar-collapse {
    display       : flex;
    align-items   : center;
    flex-direction: column;
}

.navbar-collapse.collapse.show {
    position        : relative;
    top             : 35px;
    background-color: #fafafa;
}

nav {
    z-index  : 10;
    position : relative;
    max-width: 1150px;
    height   : 100px;
}

.navbar li {
    padding-right: 1.5rem;
    padding-left : 1.5rem;
    list-style   : none;
}

.header-row {
    background-color: #fafafa;
}

.navbar-toggler {
    color: $accent_color1;
}