.bg {
    height             : calc(100vh - 100px);
    background-image   : linear-gradient(rgba(55, 55, 55, 0.72), rgba(55, 55, 55, 0.72)), url("../Assets/img/daniel-von-appen-258076Normal.png");
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
}

.cover-item {
    padding: 0;
}

.search-bar {
    display                  : inline-block;
    width                    : 100%;
    height                   : 70px;
    padding                  : 0;
    border                   : 0;
    border-top-left-radius   : 35px;
    border-bottom-left-radius: 35px;

    &::placeholder {
        padding-left: 2rem;
        color       : $accent_color1;
        text-align  : left;
        font-family : $content_font;
    }
}

.search-container {
    display       : flex;
    width         : 80%;
    max-width     : 736px;
    height        : 70px;
    padding-top   : 2rem;
    flex-direction: row;
}

.cover-btn-container {
    display        : flex;
    max-width      : 235px;
    margin-bottom  : 80px;
    align-self     : flex-end;
    flex-direction : row;
    justify-content: space-around;
}

.cover-container {
    margin-top: 180px;
}

.benefits-paragraph {
    padding: 20px 0;
}

.benefits-top {
    padding-top: 145px;

    h2 {
        padding-bottom: 35px;
    }
}

.benefits-bottom {
    padding-bottom: 150px;
}

.accent-row {
    padding         : 150px 0;
    background-color: $primary_color;
}

.accent-column {
    max-width       : 540px;
    padding         : 36px 30px 36px 36px;
    background-color: #fff;
}

.shp0 {
    fill: #ffffff;
}

svg {
    fill: #f7f;
}

.happy_guy {
    z-index : 10;
    position: relative;
    margin  : 7rem 0;
    padding : 0;
}

.benefits-bottom {
    padding-top: 5rem;

    i {
        padding  : 15px;
        color    : $primary_color;
        font-size: 4rem;
    }
}

.small_text {
    width     : 75%;
    margin-top: 1rem;
}

.denounce {
    z-index     : 20;
    position    : relative;
    padding-left: 50px;

    li {
        display   : flex;
        padding   : 15px 0;
        list-style: none;

        i {
            position    : relative;
            margin-right: 15px;
            color       : $primary_color;
            font-size   : 32px;
        }

        h5 {
            display    : inline-block;
            margin     : 0;
            line-height: 32px;
        }
    }
}

.feedback {
    padding         : 7rem 0;
    background-color: #f8f8f8;

    .Clients {
        margin-bottom: 4rem;
        text-align   : center;
    }

    .feedback-author {
        .author-name {
            display   : inline-block;
            margin    : 15px 0;
            text-align: center;
        }

        p {
            text-align : center;
            line-height: 19px;
        }
    }
}

.client-container {
    max-width: 1250px;
}

.vectors {
    position: relative;
    width   : 379px;
    height  : 220px;

    .feedback-comment {
        z-index : 2;
        position: absolute;
        top     : 84px;
        left    : 22px;
        width   : 350px;
    }

    svg {
        z-index : 1;
        position: absolute;
        top     : 35px;
        left    : 0;
    }

    img {
        z-index      : 2;
        position     : absolute;
        top          : 5px;
        left         : 190px;
        width        : 76px;
        border-radius: 50%;
        transform    : translate(-50%);
    }
}

.blog {
    padding: 90px 0 110px;

    h2 {
        display       : inline-block;
        padding-bottom: 90px;
        text-align    : center;
    }

    h4 {
        color: $accent_color1;
    }
}

.i-email {
    display                  : inline-block;
    display                  : flex;
    width                    : 70px;
    height                   : 70px;
    border-top-left-radius   : 50px;
    border-bottom-left-radius: 50px;
    background-color         : white;
    align-items              : center;
    justify-content          : flex-end;

    i {
        color    : $primary_color;
        font-size: 24px;
    }
}

.email-bar {
    display: inline-block;
    width  : 100%;
    height : 70px;
    padding: 0;
    border : 0;

    &::placeholder {
        padding-left: 10px;
        text-align  : left;
    }
}

.email-container {
    display       : flex;
    width         : 80%;
    max-width     : 736px;
    height        : 70px;
    margin        : 30px;
    padding       : 0;
    flex-direction: row;
}

.subscription {
    background-color: $primary_color;

    span {
        display    : inline-block;
        margin     : 0;
        padding    : 0;
        color      : white;
        align-self : center;
        font-family: $content_font;
        font-size  : 30px;
        font-weight: 700;
        line-height: 40px;
    }
}

.blog-containers {
    max-width : 1600px;
    align-self: center;

    a:not(.read-more) {
        font-family: $content_font;
        color      : $accent_color1;
        font-size  : 20px;
        line-height: 27px;
        font-weight: bold;
    }
}

.blog-stats {
    width  : 60%;
    padding: 0.5rem 0;
    color  : $primary_color;

    .blog-stats-date {
        padding-right: 20px;
        color        : $primary_color;
    }

    .blog-stats-comments,
    .blog-stats-views {
        display       : flex;
        flex-direction: row;

        i {
            padding   : 0 5px;
            align-self: center;
        }
    }
}

.read-more {
    padding-top: 0.5rem;

    &::after {
        content       : "\f105";
        padding-left  : 5px;
        vertical-align: baseline;
        font-family   : "Font Awesome 5 Free";
        font-size     : 14px;
        line-height   : inherit;
        line-height   : 20px;
    }

    &:hover {
        text-decoration: none;
    }
}
@media only screen and (max-width : 576px) {
    .denounce ul {
        position: relative;
        right   : 20px;
    }
}
@media only screen and (max-width : 576px) {
    .feedback-author {
        padding-bottom: 2rem;
    }
}
@media only screen and (max-width : 576px) {
    .client-container {
        position: relative;
        right   : 7px;
    }
}
@media only screen and (max-width : 576px) {
    .email-container {
        width: 100%;
    }

    .email-bar {
        height: 60px;

        &::placeholder {
            font-size: 0.875rem;
        }
    }

    .i-email {
        height: 60px;
    }
}
@media only screen and (max-width : 736px) {
    .happy_guy {
        img {
            width          : 100%;
            margin         : 0;
            object-fit     : cover;
            object-position: center;
        }
    }
}
@media only screen and (max-width : 576px) {
    .accent-column {
        padding: 36px 15px 15px;

        .icon {
            margin-right: 15px;
        }

        h3 {
            margin-bottom: 10px;
        }
    }
}
@media only screen and (max-width : 576px) {
    .cover-container {
        margin-top: 80px;
    }
}
@media only screen and (max-width : 576px) {
    .search-container {
        width: 100%;
    }

    .search-bar {
        height: 60px;

        &::placeholder {
            font-size: 0.875rem;
        }
    }
}