
main {
    width: 100%;
    padding: 0;
    margin: 0;
}

.bg {
    background-image:   linear-gradient(
                        rgba(55, 55, 55, 0.72),
                        rgba(55, 55, 55, 0.72)),
                        url("../Assets/img/daniel-von-appen-258076Normal.png");
    height: calc(100vh - 100px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.cover-item{
    padding: 0;
}

.search-bar {
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    height: 70px;
    border: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
.search-btn {
    display: inline-block;
    width: 140px;
    height: 70px;
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border: none;
    background-color: $primary_color;
    color: white;
    text-align: center;
    vertical-align: top;
}

.search-container{
    height: 70px;
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 736px;
    margin: 30px
}

.cover-btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px 0;
    align-self: flex-end;
    max-width: 235px;
}

.cover-container{
    margin-top: 180px;
}

.benefits-paragraph{
    padding: 20px;
}

.benefits-top {
    margin-top: 145px;
    margin-bottom: 65px;
}

.benefits-bottom {
    margin-bottom: 145px;
    margin-top: 65px;
}

.accent-row {
    background-color: $primary_color;
}

.accent-column {
    background-color: #fff;
    margin: 150px 0;
    padding: 36px 30px 36px 36px;
}

.shp0 {
    fill: #ffffff;
    // background-color: #ffffff;
}
svg{
  fill: #f7f;

}
tspan {
    white-space: pre;
}
div {
    border: 0px solid grey;
}
.happy_guy {
    padding: 0;
    margin: 7rem;
}

.small_text {
    margin-top: 1rem;
    width: 75%;
}

.denounce {
        padding-left: 50px;
}

.feedback{
    background-color: #f8f8f8;
    padding: 7rem 0;
    .Clients {
        text-align: center;
        margin-bottom: 4rem;
    }
    .feedback-author{
        .author-name { margin: 15px 0; text-align: center; display: inline-block;}
        p { line-height: 19px; text-align: center;}
    }

}

.vectors {
    position: relative;
        height: 220px;
        width: 379px;
    .feedback-comment{
        position: absolute;
        width: 350px;
        z-index: 2;
        top: 84px;
        left: 22px;

    }
    svg{
        position: absolute;
        left: 0;
        z-index: 1;
        top: 35px;
    }
    img{
        top: 10px;
        border-radius: 50%;
        position: absolute;
        width: 76px;
        left: 190px;
        z-index: 2;
        transform: translate(-50%);
    }
}
.card{
    border-radius: 10px;
        width: 360px;
        margin: 30px;
}
.box {

    background-color: #f7f;
    margin: 10px;
}

.card-img-top {

    height: 367px;
    object-fit: cover;
}

.slick-arrow {
    background-color: #f7f;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    align-self: center;
    border: 0;
    outline: none;
}
